<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ContactMessageBean" class="com.zygstore.business.ContactMessageBean"></bean>
    <bean id="ContactDTO" class="com.zygstore.dto.ContactDTO">
        <property name="contactMessageBean" ref="ContactMessageBean"/>
    </bean>
    <bean id="ContactMessageService" class="com.zygstore.service.ContactMessageService">
        <property name="contactDto" ref="ContactDTO"/>
    </bean>



</beans>