<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="classpath:config/applicationConfigDAOS.xml"/>
    <import resource="classpath:config/applicationConfigDTOS.xml"/>
    <import resource="classpath:config/applicationConfigMappers.xml"/>
    <import resource="classpath:config/applicationConfigServices.xml"/>
    <import resource="classpath:config/applicationConfigUtils.xml"/>
    <import resource="classpath:config/applicationConfigBusinessBeans.xml"/>
    <import resource="classpath:config/applicationCacheConfig.xml"/>

    <bean id="context" class="com.zygstore.config.Context">
        <constructor-arg value="application-config.xml"/>
    </bean>



</beans>